/*------------------------------------*\
  # HERO
\*------------------------------------*/

.zsg-hero__wrapper {
  background: $color-white500;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  min-height: 342px;
  @include breakpoint(sm) {
    min-height: 180px;
  }
}

.zsg-hero__inner {
  display: flex;
}

.zsg-hero__inner--text {
  @include set-text(h2);
  text-align: center;
}
// .zsg-hero__inner--img {
//   width: 200px;
//   height: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .placeholder {
//     width: 50%;
//     height: auto;
//     margin: 0 auto;
//   }
// }
