@mixin basic-list() {
  counter-reset: ordered-counter;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;

  li {
    counter-increment: ordered-counter;
    align-items: center;
    display: flex;
  }

  li::before {
    content: '';
    color: $color-white;
    background-color: $color-purple500;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
    text-align: center;
    line-height: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
  }

  &.small li::before {
    line-height: 4px;
    width: 4px;
    height: 4px;
    margin: 0 4px 0 0;
  }
}
